Repository EnforceAuth/ea-financial: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, typescript-check

.pre-commit-config.yaml:

# EA Financial Pre-commit Configuration
# Ensures code quality checks run before commits

repos:
  - repo: local
    hooks:
      # Biome linting and formatting
      - id: biome-check
        name: Biome Check
        entry: bunx biome check --apply
        language: system
        types: [javascript, typescript, jsx, tsx, json]
        pass_filenames: false
        always_run: false

      # Biome formatting only for specific file changes
      - id: biome-format
        name: Biome Format
        entry: bunx biome format --write
        language: system
        types: [javascript, typescript, jsx, tsx, json, css]
        pass_filenames: true

  # Markdown linting (since Biome doesn't support it yet)
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdown Lint
        entry: bunx markdownlint --fix
        language: system
        types: [markdown]
        pass_filenames: true

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Security: Prevent committing sensitive files
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: tsconfig\.json$  # Allow comments in tsconfig

      # Code quality
      - id: end-of-file-fixer
        exclude: \.min\.(js|css)$
      - id: trailing-whitespace
        exclude: \.min\.(js|css)$
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Banking-specific security checks
  - repo: local
    hooks:
      - id: banking-security-check
        name: Banking Security Patterns
        entry: bash -c 'if grep -r -E "(credit.card|ssn|social.security|routing.number)" --include="*.ts" --include="*.js" --exclude-dir=node_modules .; then echo "Potential sensitive data detected in code"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

      # Check for hardcoded secrets
      - id: secret-pattern-check
        name: Secret Pattern Check
        entry: bash -c 'if grep -r -E "(password|secret|key|token)\s*=\s*[\"'\''][^\"'\'']*[\"'\'']" --include="*.ts" --include="*.js" --exclude-dir=node_modules .; then echo "Potential hardcoded secrets detected"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

  # TypeScript specific checks
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd projects/consumer-accounts-internal-api && bun run tsc --noEmit && cd ../consumer-accounts-internal-app && bun run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

# Banking compliance: ensure all hooks run even if one fails
# This provides comprehensive reporting for compliance audits
ci:
  skip: []
  autofix_commit_msg: 'style: auto-fix pre-commit hooks [skip ci]'
  autofix_prs: false
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [skip ci]'
  autoupdate_schedule: monthly

fix: lint warnings
  projects/consumer-accounts-internal-api/examples/client-example.ts
  projects/consumer-accounts-internal-api/src/data/dataService.ts
  projects/consumer-accounts-internal-api/src/index.ts
  projects/consumer-accounts-internal-api/src/routes/accounts.ts
  projects/consumer-accounts-internal-api/src/routes/auth.ts
  projects/consumer-accounts-internal-api/src/routes/terms.ts
  projects/consumer-accounts-internal-api/src/services/opaService.ts
  projects/consumer-accounts-internal-api/tests/integration.test.ts
  projects/consumer-accounts-internal-app/src/components/Dashboard/Dashboard.tsx
  projects/consumer-accounts-internal-app/src/context/AuthContext.tsx
  projects/consumer-accounts-internal-app/src/main.tsx
  projects/consumer-accounts-internal-app/src/services/api.ts
  projects/consumer-accounts-internal-app/src/styles/App.css
  projects/consumer-accounts-internal-app/src/types/index.ts
Due: typescript-check

fix: remaining format and lint issues
  projects/consumer-accounts-internal-api/examples/client-example.ts
  projects/consumer-accounts-internal-api/src/data/dataService.ts
  projects/consumer-accounts-internal-api/src/index.ts
  projects/consumer-accounts-internal-api/src/routes/accounts.ts
  projects/consumer-accounts-internal-api/src/routes/auth.ts
  projects/consumer-accounts-internal-api/src/routes/terms.ts
  projects/consumer-accounts-internal-api/src/services/opaService.ts
  projects/consumer-accounts-internal-api/tests/integration.test.ts
  projects/consumer-accounts-internal-app/src/components/Accounts/AccountDetails.tsx
  projects/consumer-accounts-internal-app/src/components/Accounts/ProcessTransaction.tsx
  projects/consumer-accounts-internal-app/src/components/Accounts/TransactionHistory.tsx
  projects/consumer-accounts-internal-app/src/components/Auth/Login.tsx
  projects/consumer-accounts-internal-app/src/components/Dashboard/Dashboard.tsx
  projects/consumer-accounts-internal-app/src/components/Layout/Layout.tsx
  projects/consumer-accounts-internal-app/src/components/Terms/Terms.tsx
  projects/consumer-accounts-internal-app/src/context/AuthContext.tsx
  projects/consumer-accounts-internal-app/src/main.tsx
  projects/consumer-accounts-internal-app/src/services/api.ts
  projects/consumer-accounts-internal-app/src/styles/App.css
  projects/consumer-accounts-internal-app/src/types/index.ts
Due: typescript-check

fix: markdown lint
  infra/README.md
Due: markdownlint

feat: add development dependencies to docs
  README.md
Due: markdownlint

feat: add development dependencies to docs (#3)
  README.md
Due: markdownlint

fix: login now uses opa, more frontend warnings, script & doc updates
  README.md
  TROUBLESHOOTING.md
  app.sh
  infra/opa/data/users.json
  infra/opa/policies/main.rego
  projects/consumer-accounts-internal-api/src/routes/auth.ts
  projects/consumer-accounts-internal-api/src/services/opaService.ts
  projects/consumer-accounts-internal-app/src/components/Auth/Login.tsx
  projects/consumer-accounts-internal-app/src/components/Layout/Layout.tsx
  projects/consumer-accounts-internal-app/src/components/Layout/SystemStatus.tsx
  projects/consumer-accounts-internal-app/src/services/api.ts
  projects/consumer-accounts-internal-app/src/styles/App.css
Due: markdownlint, typescript-check

fix: login now uses opa, more frontend warnings, script & doc updates (#5)
  README.md
  TROUBLESHOOTING.md
  app.sh
  infra/opa/data/users.json
  infra/opa/policies/main.rego
  projects/consumer-accounts-internal-api/src/routes/auth.ts
  projects/consumer-accounts-internal-api/src/services/opaService.ts
  projects/consumer-accounts-internal-app/src/components/Auth/Login.tsx
  projects/consumer-accounts-internal-app/src/components/Layout/Layout.tsx
  projects/consumer-accounts-internal-app/src/components/Layout/SystemStatus.tsx
  projects/consumer-accounts-internal-app/src/services/api.ts
  projects/consumer-accounts-internal-app/src/styles/App.css
Due: markdownlint, typescript-check

EA-16: OPA agents pull bundles from S3
  .env.example
  README.md
  app.sh
  infra/INFRASTRUCTURE_SUMMARY.md
  infra/docker-compose.dev.yml
  infra/opa/config/opa-config-local.yaml
Due: markdownlint

EA-16: PR Feedback
  .env.example
  app.sh
Due: none

EA-16: OPA agents pull bundles from S3 (#7)
  .env.example
  README.md
  app.sh
  infra/INFRASTRUCTURE_SUMMARY.md
  infra/docker-compose.dev.yml
  infra/opa/config/opa-config-local.yaml
Due: markdownlint

EA-17: PR feedback
  .github/workflows/pr-validation.yml
  TROUBLESHOOTING.md
  infra/README.md
  projects/consumer-accounts-internal-api/src/data/dataService.ts
  projects/consumer-accounts-internal-api/src/routes/accounts.ts
  projects/consumer-accounts-internal-api/src/routes/auth.ts
  projects/consumer-accounts-internal-app/README.md
Due: markdownlint, typescript-check

EA-17: lint/formatting
  infra/README.md
  projects/consumer-accounts-internal-api/src/data/dataService.ts
  projects/consumer-accounts-internal-api/src/routes/accounts.ts
  projects/consumer-accounts-internal-api/src/routes/auth.ts
Due: markdownlint, typescript-check

feat: break up rego monolith
  infra/opa/policies/commercial/dashboard/access_control.rego
  infra/opa/policies/commercial/istio/traffic_management.rego
  infra/opa/policies/commercial/kubernetes/rbac.rego
  infra/opa/policies/commercial/wholesale_api/authentication.rego
  infra/opa/policies/commercial/wholesale_api/compliance.rego
  infra/opa/policies/commercial/wholesale_api/corporate_lending.rego
  infra/opa/policies/commercial/wholesale_api/treasury.rego
  infra/opa/policies/ea_financial/identity_provider/mfa.rego
  infra/opa/policies/ea_financial/identity_provider/sso.rego
  infra/opa/policies/ea_financial/identity_provider/user_management.rego
  infra/opa/policies/main.rego
  infra/opa/policies/retail/dashboard/access_control.rego
  infra/opa/policies/retail/dashboard/ui_features.rego
  infra/opa/policies/retail/istio/authorization.rego
  infra/opa/policies/retail/istio/traffic_management.rego
  infra/opa/policies/retail/kubernetes/pod_security.rego
  infra/opa/policies/retail/kubernetes/rbac.rego
  infra/opa/policies/retail/retail_api/accounts.rego
  infra/opa/policies/retail/retail_api/authentication.rego
  infra/opa/policies/retail/retail_api/compliance.rego
  infra/opa/policies/retail/retail_api/transactions.rego
  infra/opa/policies/shared/common.rego
  infra/opa/policies/shared/helpers.rego
  infra/opa/policies/wealth_mgmt/dashboard/access_control.rego
  infra/opa/policies/wealth_mgmt/investing_api/authentication.rego
  infra/opa/policies/wealth_mgmt/investing_api/compliance.rego
  infra/opa/policies/wealth_mgmt/investing_api/portfolio_management.rego
  infra/opa/policies/wealth_mgmt/investing_api/trading.rego
  infra/opa/policies/wealth_mgmt/istio/traffic_management.rego
  infra/opa/policies/wealth_mgmt/kubernetes/rbac.rego
  infra/opa/policies/wealth_mgmt/portfolio_mgmt_app/access_control.rego
Due: none

fix: resolve Rego syntax errors in shared/helpers.rego
  infra/opa/policies/shared/helpers.rego
Due: none

fix: address Amazon Q review comments - improve null checks and audit logging
  infra/opa/policies/commercial/wholesale_api/compliance.rego
  infra/opa/policies/commercial/wholesale_api/treasury.rego
  infra/opa/policies/main.rego
  infra/opa/policies/shared/common.rego
Due: none

feat: break up rego monolith (#9)
  infra/opa/policies/commercial/dashboard/access_control.rego
  infra/opa/policies/commercial/istio/traffic_management.rego
  infra/opa/policies/commercial/kubernetes/rbac.rego
  infra/opa/policies/commercial/wholesale_api/authentication.rego
  infra/opa/policies/commercial/wholesale_api/compliance.rego
  infra/opa/policies/commercial/wholesale_api/corporate_lending.rego
  infra/opa/policies/commercial/wholesale_api/treasury.rego
  infra/opa/policies/ea_financial/identity_provider/mfa.rego
  infra/opa/policies/ea_financial/identity_provider/sso.rego
  infra/opa/policies/ea_financial/identity_provider/user_management.rego
  infra/opa/policies/main.rego
  infra/opa/policies/retail/dashboard/access_control.rego
  infra/opa/policies/retail/dashboard/ui_features.rego
  infra/opa/policies/retail/istio/authorization.rego
  infra/opa/policies/retail/istio/traffic_management.rego
  infra/opa/policies/retail/kubernetes/pod_security.rego
  infra/opa/policies/retail/kubernetes/rbac.rego
  infra/opa/policies/retail/retail_api/accounts.rego
  infra/opa/policies/retail/retail_api/authentication.rego
  infra/opa/policies/retail/retail_api/compliance.rego
  infra/opa/policies/retail/retail_api/transactions.rego
  infra/opa/policies/shared/common.rego
  infra/opa/policies/shared/helpers.rego
  infra/opa/policies/wealth_mgmt/dashboard/access_control.rego
  infra/opa/policies/wealth_mgmt/investing_api/authentication.rego
  infra/opa/policies/wealth_mgmt/investing_api/compliance.rego
  infra/opa/policies/wealth_mgmt/investing_api/portfolio_management.rego
  infra/opa/policies/wealth_mgmt/investing_api/trading.rego
  infra/opa/policies/wealth_mgmt/istio/traffic_management.rego
  infra/opa/policies/wealth_mgmt/kubernetes/rbac.rego
  infra/opa/policies/wealth_mgmt/portfolio_mgmt_app/access_control.rego
Due: none

fix: disable the scheduled E2E tests for now
  .github/workflows/e2e-testing.yml
  .gitignore
Due: none

fix: more failing CI workflows
  .github/workflows/e2e-testing.yml
  .github/workflows/main-deployment.yml
  .github/workflows/performance-testing.yml
  .github/workflows/security-scan.yml
  .github/workflows/workflow-summary.yml
Due: none

fix: failing CI workflows (#10)
  .github/workflows/e2e-testing.yml
  .github/workflows/main-deployment.yml
  .github/workflows/performance-testing.yml
  .github/workflows/security-scan.yml
  .github/workflows/workflow-summary.yml
  .gitignore
Due: none

feat: add ea-deploy.yml for testing
  .github/workflows/ea-deploy.yml
Due: none

security: move entity IDs and API URL to GitHub secrets
  .github/workflows/ea-deploy.yml
Due: none

chore: use vars for API URL instead of secret
  .github/workflows/ea-deploy.yml
Due: none

fix: add checkout step to access repository files
  .github/workflows/ea-deploy.yml
Due: none

feat: add ea-deploy.yml for CI testing (#11)
  .github/workflows/ea-deploy.yml
Due: none

fix: use public deploy-action
  .github/workflows/ea-deploy.yml
Due: none

fix: use simplified entity-id parameter for deploy action (EA-132)
  .github/workflows/ea-deploy.yml
Due: none

fix: use secret and var
  .github/workflows/ea-deploy.yml
Due: none

fix: typos, versioning
  .github/workflows/ea-deploy.yml
Due: none

fix: use public deploy-action (#12)
  .github/workflows/ea-deploy.yml
Due: none

feat: add Retail API rego tests and customer personas
  .github/workflows/ea-deploy.yml
  README.md
  infra/opa/data/users.json
  infra/opa/policies/retail/retail_api/accounts_test.rego
  infra/opa/policies/retail/retail_api/authentication_test.rego
  infra/opa/policies/retail/retail_api/compliance_test.rego
  infra/opa/policies/retail/retail_api/transactions_test.rego
Due: markdownlint

fix: apply biome formatting to users.json
  infra/opa/data/users.json
Due: none

fix: remove entity ID from comments and docs
  .github/workflows/ea-deploy.yml
  README.md
Due: markdownlint

feat: add Retail API rego tests and customer personas (#13)
  .github/workflows/ea-deploy.yml
  README.md
  infra/opa/data/users.json
  infra/opa/policies/retail/retail_api/accounts_test.rego
  infra/opa/policies/retail/retail_api/authentication_test.rego
  infra/opa/policies/retail/retail_api/compliance_test.rego
  infra/opa/policies/retail/retail_api/transactions_test.rego
Due: markdownlint

fix(EA-359): load policies from disk instead of S3 bundles
  infra/docker-compose.ea.yml
  infra/opa/config/opa-config-ea.yaml
Due: none

fix: correct API build context to repo root
  infra/docker-compose.dev.yml
Due: none

feat(EA-359): add EA Platform integration config for OPA sidecar
  .gitignore
  infra/.env.ea.example
  infra/docker-compose.ea.yml
  infra/opa/config/opa-config-ea.yaml
Due: none

fix(EA-359): use X-Api-Key header instead of Bearer token
  infra/opa/config/opa-config-ea.yaml
Due: none
